@model IEnumerable<Prioritify.Data.Tables.TbTasks>
@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary" asp-action="AddTask">Add Task</a>

@foreach(var task in Model) {
    <div class="row">
        <div>@task.flName, Deadline: @task.flDeadline</div>
    </div>
}


